;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{;; Paths
 ;;   Directories in the current project to include in the classpath
 :paths ["dev" "src"]
 ;; External dependencies
 :deps #:org.clojure{clojure #:mvn{:version "1.10.1"}
                     clojurescript #:mvn{:version "1.10.597"}
                     org.clojure/core.async {:mvn/version "0.6.532"}}
 ;; Aliases
 ;;   resolve-deps aliases (-R) affect dependency resolution, options:
 ;;     :extra-deps - specifies extra deps to add to :deps
 ;;     :override-deps - specifies a coordinate to use instead of that in :deps
 ;;     :default-deps - specifies a coordinate to use for a lib if one isn't
 ;;     found
 ;;   make-classpath aliases (-C) affect the classpath generation, options:
 ;;     :extra-paths - vector of additional paths to add to the classpath
 ;;     :classpath-overrides - map of lib to path that overrides the result of
 ;;     resolving deps
 :aliases
 #:rgm{:ml {:extra-deps {clojure-csv/clojure-csv #:mvn{:version "2.0.1"}
                         metasoarous/oz #:mvn{:version "1.5.6"}
                         org.clojure/data.csv #:mvn{:version "0.1.4"}
                         semantic-csv #:mvn{:version "0.2.1-alpha1"}}}

       :depot {:extra-deps #:olical{depot #:mvn{:version "1.8.2"}}
               :main-opts ["-m" "depot.outdated.main"]}

       :nrepl
       {:extra-deps {cider/cider-nrepl #:mvn{:version "RELEASE"}
                     cider/piggieback #:mvn{:version "RELEASE"}
                     nrepl #:mvn{:version "RELEASE"}
                     }
        :main-opts
        ["-m" "nrepl.cmdline" "--middleware"
         "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
         "--interactive" "--color"]}


       :rebel
       {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
        :main-opts  ["-m" "rebel-readline.main"]}

       ;; see https://github.com/seancorfield/dot-clojure/blob/master/deps.edn
       :prepl {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/io-prepl}"]}

       :low-mem {:jvm-opts ["-J-Xmx512m"]}

       :high-mem {:jvm-opts ["-J-Xmx4g"]}

       :figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}
                  :main-opts ["-m" "figwheel.main"]}

       :rebl-11
       {:extra-deps {org.clojure/core.async {:mvn/version "0.4.490"}
                     ;; deps for file datafication (0.9.149 or later)
                     org.clojure/data.csv {:mvn/version "0.1.4"}
                     org.clojure/data.json {:mvn/version "0.2.3"}
                     org.yaml/snakeyaml {:mvn/version "1.23"}
                     cider/cider-nrepl #:mvn{:version "RELEASE"}
                     cider/piggieback #:mvn{:version "RELEASE"}
                     nrepl #:mvn{:version "RELEASE"}
                     rickmoynihan/nrebl.middleware {:mvn/version "RELEASE"}
                     com.cognitect/rebl
                     ;; adjust to match your install location
                     {:local/root "/Users/rgm/Projects/forks/clojure/REBL-0.9.172/REBL-0.9.172.jar"}
                     org.openjfx/javafx-fxml     {:mvn/version "11.0.1"}
                     org.openjfx/javafx-controls {:mvn/version "11.0.1"}
                     org.openjfx/javafx-graphics {:mvn/version "11.0.1"}
                     org.openjfx/javafx-media    {:mvn/version "11.0.1"}
                     org.openjfx/javafx-swing    {:mvn/version "11.0.1"}
                     org.openjfx/javafx-base     {:mvn/version "11.0.1"}
                     org.openjfx/javafx-web      {:mvn/version "11.0.1"}}
        :main-opts #_["-m" "cognitect.rebl"]
        ["-m" "nrepl.cmdline" "--middleware"
         "[nrebl.middleware/wrap-nrebl,cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"
         "--interactive" "--color"]}

       :new
       {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
        :main-opts ["-m" "clj-new.create"]}

       :lint
       {:extra-deps
        #:com.jameslaverack{cljfmt-runner
                            {:git/url
                             "https://github.com/JamesLaverack/cljfmt-runner"
                             :sha
                             "97960e9a6464935534b5a6bab529e063d0027128"}}
        :main-opts ["-m" "cljfmt-runner.fix"]}

       :libs
       {:override-deps
        {opengb/dram {:local/root "/Users/rgm/Projects/opengb/dram"}
         opengb/spork {:local/root "/Users/rgm/Projects/opengb/spork"}}}

       :depify {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}
                             depify              {:git/url "https://github.com/hagmonk/depify"
                                                  :sha     "04329744872890711dbba8939a16e9987dd33bb3"}}
                :main-opts  ["-m" "depify.project"]}


       }}
